<?xml version="1.0" encoding="iso8859-15"?>
<!DOCTYPE clase>

<clase nombre="paladin">
	<archivo ruta="~/clases/caballero.xml" />
	<archivo ruta="comandos.xml" />

	<magia>
		<!-- Lista de esferas/escuelas -->
		
		<esfera nombre="proteccion" acceso="menor" />
		<esfera nombre="curadora" acceso="menor" />
		<esfera nombre="guardiana" acceso="menor" />

		<esfera nombre="total" acceso="neutral" />
		<esfera nombre="bien" acceso="neutral" />
	</magia>

	<mushclient>
		<!-- Alias y triggers en bruto de mushclient -->

	</mushclient>
</clase>
